---
import { formatDate } from '../script/helper';

const { post } = Astro.props;
---

<div class="bg-base-200">
	<div class="container grid grid-cols-12 mx-auto bg-base-200">
		<div class="bg-no-repeat bg-cover col-span-full lg:col-span-4" style=`background-image: url('${post.frontmatter.image['url']}'); background-position: center center; background-blend-mode: multiply; background-size: cover;`></div>
		<div class="flex flex-col p-6 col-span-full row-span-full lg:col-span-8 lg:p-10">
			<div class="flex justify-start pb-2 gap-2">
				{ post.frontmatter.tags.map((tag: unknown) =>
						<span class="px-2 py-0.5 text-xs rounded-full bg-primary">{tag}</span>
					)
				}
			</div>
			<h1 class="text-2xl font-semibold hover:text-primary my-3"><a href={post.url}>{post.frontmatter.title}</a></h1>
			<div class="flex items-center justify-between pt-2">
				<div class="flex space-x-2">
					<img src="/mhk-potrait.webp" alt="Muhammad Hafid K" class="w-5 h-5 rounded-full">
					<span class="self-center text-sm">by Muhammad Hafid K</span>
				</div>
				<p class="text-xs">{formatDate(post.frontmatter.pubDate)}</p>
			</div>
		</div>
	</div>
</div>