---
---

<footer class="items-center p-4 bg-neutral text-neutral-content mt-96">
  <div class="flex justify-between items-center max-w-screen-lg mx-auto py-1">
    <aside class="items-center grid-flow-col">
      <p class="text-xs md:text-sm">Copyright © 2024 - All right reserved</p>
    </aside>
    <div class="flex justify-center items-center gap-4">
      <a href="mailto:mhafidk@gmail.com" target="_blank"><img src="/email.svg" alt="" class="h-7 w-7"></a>
      <a href="https://www.linkedin.com/in/mhafidk" target="_blank"><img src="/linkedin.svg" alt="" class="h-6 w-6"></a>
      <a href="https://www.github.com/mhafidk" target="_blank"><img src="/github.svg" alt="" class="h-6 w-6"></a>
    </div>
  </div>
</footer>